In [1]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.metrics import mean_squared_error

import pandas as pd
import numpy as np
from math import sqrt

In [2]:

# Load
df_projects = pd.read_csv('mining_projects.csv', sep=';')

df_factory =  pd.read_csv('factory.csv', sep=';')

print(df_projects.head())


print(df_projects.dtypes)

   Project No.  Deposit No.                    Company Name  \
0            1          1.0               Lynas Rare Earths
1            2          2.0                    MP Materials
2            3          3.0         Iluka Resources Limited
3            4          4.0                             NaN
4            5          5.0  Australian Strategic Materials

              Project Name                                       Location  \
0               Mount Weld                          Mount Weld, Australia
1            Mountain Pass     Central Mojave Desert, California, America
2                  Eneabba          Eneabba, Western Australia, Australia
3  WIM100 (Wimmera、Mallee)  Wimmera & Mallee,Western Australia, Australia
4           Dubbo (Toongi)              Dubbo, New South Wales, Australia

       Continent  \
0      Australia
1  North America
2      Australia
3      Australia
4      Australia

   Status (2022), 1: Exploration/ Define resource; 2: Feasibility/ Pre-feasibility; 3: Construction; 4: Production; S: Suspending mining; T: Test of Metallurgical; D: Development licence; N: Not Use  \
0                                                  4
1                                                  4
2                                                  4
3                                                  2
4                                            4(2022)

    Deposit type Resource (*10^4 t, REO, Total) Grade (wt. %)  ...  \
0    Carbonatite                            300           5,4  ...
1    Carbonatite                          418,3           8,9  ...
2         Placer                           7,29          0,09  ...
3         Placer                            NaN           NaN  ...
4  Alkaline rock                          55,63          0,74  ...

         Tm2O3        Yb2O3        Lu2O3         Y2O3 HREE percentage  \
0  0,012683917  0,063419584            0  1,775748351     3,970065956
1  0,015229973  0,015229973  0,015229973  0,106609808     0,487359123
2  0,067454059  0,439415013  0,052035988  6,422911253     10,08020609
3          NaN          NaN          NaN          NaN             NaN
4  0,112485939  1,012373453  0,112485939  15,86051744     23,05961755

                                    REE pattern Ref.  \
0                         Paulick and Machacek ,2017
1                         Paulick and Machacek ,2017
2                          Jaireth et al., 2014, OGR
3                                                NaN
4  Paulick, H., & Machacek, E. (2017). The global...

                             Project and status Ref.  \
0  Lynas, Annual Report 2021, https://lynasrareea...
1                     https://mpmaterials.com/about/
2  ILUKA, ENEABBA MINERAL SANDS RECOVERY PROJECT ...
3  https://iluka.com/operations-resource-developm...
4  https://asm-au.com/dubbo-project-overview/reso...

                                   Deposit type Ref.  \
0  Lynas, Lynas Rare Earths Limited CLSA Explorat...
1  Long, K.R., Van Gosen, B.S., Foley, N.K., and ...
2  ILUKA, ENEABBA MINERAL SANDS RECOVERY PROJECT ...
3  https://iluka.com/operations-resource-developm...
4  Spandler, C., & Morris, C. (2016). Geology and...

                             Resource and grade Ref. Unnamed: 30
0  Lynas, Lynas Rare Earths Limited CLSA Explorat...         NaN
1  Long, K.R., Van Gosen, B.S., Foley, N.K., and ...         NaN
2  ILUKA, ENEABBA MINERAL SANDS RECOVERY PROJECT ...         NaN
3                                                NaN         NaN
4  Australian Strategic Materials, Annual Report ...         NaN

[5 rows x 31 columns]
Project No.                                                                                                                                                                                               int64
Deposit No.                                                                                                                                                                                             float64
Company Name                                                                                                                                                                                             object
Project Name                                                                                                                                                                                             object
Location                                                                                                                                                                                                 object
Continent                                                                                                                                                                                                object
 Status (2022), 1: Exploration/ Define resource; 2: Feasibility/ Pre-feasibility; 3: Construction; 4: Production; S: Suspending mining; T: Test of Metallurgical; D: Development licence; N: Not Use     object
Deposit type                                                                                                                                                                                             object
Resource (*10^4 t, REO, Total)                                                                                                                                                                           object
Grade (wt. %)                                                                                                                                                                                            object
La2O3                                                                                                                                                                                                    object
Ce2O3                                                                                                                                                                                                    object
Pr6O11                                                                                                                                                                                                   object
Nd2O3                                                                                                                                                                                                    object
Sm2O3                                                                                                                                                                                                    object
Eu2O3                                                                                                                                                                                                    object
Gd2O3                                                                                                                                                                                                    object
Tb4O7                                                                                                                                                                                                    object
Dy2O3                                                                                                                                                                                                    object
Ho2O3                                                                                                                                                                                                    object
Er2O3                                                                                                                                                                                                    object
Tm2O3                                                                                                                                                                                                    object
Yb2O3                                                                                                                                                                                                    object
Lu2O3                                                                                                                                                                                                    object
Y2O3                                                                                                                                                                                                     object
HREE percentage                                                                                                                                                                                          object
REE pattern Ref.                                                                                                                                                                                         object
Project and status Ref.                                                                                                                                                                                  object
Deposit type Ref.                                                                                                                                                                                        object
Resource and grade Ref.                                                                                                                                                                                  object
Unnamed: 30                                                                                                                                                                                             float64
dtype: object

In [3]:
print(df_factory.head())

   No.            Company              Project  \
0    1  Lynas Rare Earths     Mount Weld Plant
1    2                NaN        Kuantan Plant
2    3                NaN     Kalgoorlie Plant
3    4                NaN  HREE separate Plant
4    5       MP Materials  Mountain Pass Plant

                                 Location  \
0                   Mount Weld, Australia
1                                 Kuantan
2                    Kalgoorlie,Australia
3                       Hondo, Texas, USA
4  Central Mojave Desert, California, USA

  Status (2022)  1: Crushing roughing: Operate mineral concentration; 3: mixed REO; 4:Operate seprated REO; 5 Metal; T Trial production; P Pre-feasibility study; PT Project terminated  \
0                                                  2
1                                                  4
2                                            3(2023)
3                                                NaN
4                                                  2

                                    Capacity                 Yield  \
0  66kt/y concentration (contain 26500t REO)                   NaN
1                                      ~20kt  15761t/y (REO, 2021)
2                                        NaN                     -
3       5000t/y (REO, containing 1250t/PrNd)                   NaN
4                                        NaN   42413t/y（2021, REO）

           Upstream                               Downstream Status Ref.  \
0        Mount Weld                            Kuantan plant         NaN
1     Kuantan plant  Japan, Europe, China, and North America         NaN
2               NaN                                        -         NaN
3  Kalgoorlie plant                                      NaN         NaN
4     Mountain Pass                                    China         NaN

                                       Capacity Ref.  \
0  https://lynasrareearths.com/about-us/locations...
1                                                NaN
2                                                NaN
3  https://news.cnpowder.com.cn/58843.html; https...
4                                                NaN

                                          Yield Ref. Upstream Ref.  \
0                                                NaN           NaN
1  https://lynasrareearths.com/wp-content/uploads...           NaN
2                                                NaN           NaN
3                                                NaN           NaN
4  MP Materials Reports First Quarter 2021 Result...           NaN

                                     Downstream Ref.
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4  https://www.defensenews.com/opinion/commentary...

Failed attempt to predict the status of the project
-----------------------------------------------------------------------------

In [4]:
# Data preprocessing


# Convert categorical columns to numerical using LabelEncoder
label_encoder = LabelEncoder()
categorical_cols = ['Company Name', 'Location', 'Continent', 'Deposit type', 'Project Name']
for col in categorical_cols:
    df_projects[col] = label_encoder.fit_transform(df_projects[col])

#df_projects = df_projects.rename(columns={'Status (2022), 1: Exploration/ Define resource; 2: Feasibility/ Pre-feasibility; 3: Construction; 4: Production; S: Suspending mining; T: Test of Metallurgical; D: Development licence; N: Not Use': 'Status'}, inplace=True))

col_list = df_projects.columns.tolist()

col_list[6] = 'Status'

df_projects.columns = col_list


df_projects['status_cleaned'] = np.nan
df_projects['year'] = np.nan

for idx, row in df_projects.iterrows():
    status = row['Status']
    
    if pd.isna(status):
        continue

    
    if '(' in status and ')' in status:
        status_splitted = status.split('(')
        df_projects.at[idx, 'status_cleaned'] = status_splitted[0].strip()
        df_projects.at[idx, 'year'] = status_splitted[1].replace(')', '').strip()
    else:
        df_projects.at[idx, 'status_cleaned'] = status.strip()


df_projects['year'] = pd.to_numeric(df_projects['year'], errors='coerce')


df_projects.drop(['Status'], axis=1, inplace=True)

# Convert string to numeric
df_projects['HREE percentage'] = pd.to_numeric(df_projects['HREE percentage'].str.replace(',', '.'), errors='coerce')

# Fill NaNs in 'year' 
df_projects['year'] = df_projects['year'].fillna(-1)

# Fill NaNs in 'HREE percentage' 
mean_value = df_projects['HREE percentage'].mean()
df_projects['HREE percentage'] = df_projects['HREE percentage'].fillna(mean_value)

cols_to_drop = ['REE pattern Ref.', 'Project and status Ref.', 'Deposit type Ref.', 'Resource and grade Ref.', 'Unnamed: 30']
df_projects.drop(cols_to_drop, axis=1, inplace=True)

status_splits = df_projects['status_cleaned'].str.split(',').apply(pd.Series, 1).stack()
status_splits.index = status_splits.index.droplevel(-1)
status_splits.name = 'status_cleaned_new'
df_projects = df_projects.join(status_splits)
df_projects['status_cleaned_new'] = df_projects['status_cleaned_new'].str.strip()  


status_mapping = {
    '1': 'Early Stage',
    '2': 'Middle Stage',
    '3': 'Late Stage',
    '4': 'Production',
    'T': 'Testing',
    'D': 'Development',
    'S': 'Suspending',
    'C': 'Construction',
    'N': 'Not Use'
    # Add mappings for other statuses as needed
}
df_projects['status_simplified'] = df_projects['status_cleaned_new'].map(status_mapping)

df_projects.loc[df_projects['status_cleaned_new'] == '1&T', 'status_cleaned_new'] = 'Early Stage' # or 'Test of Metallurgical', as appropriate
df_projects.loc[df_projects['status_cleaned_new'] == '2021', 'status_cleaned_new'] = np.nan # Treat '2021' as NaN
df_projects.loc[df_projects['status_cleaned_new'] == 'N', 'status_cleaned_new'] = np.nan # Treat 'N' as NaN

In [5]:

unique_values = df_projects['status_cleaned_new'].unique()
print(unique_values)

['4' '2' '1' '3' 'D' 'T' 'S' 'C' 'Early Stage' nan]

In [6]:
# Define input features and target variable
input_features = ['Deposit No.', 'Company Name', 'Location', 'Continent', 'Deposit type', 'HREE percentage', 'year']
target_variable = 'status_cleaned'

# Prepare data for train/test split
X = df_projects[input_features]
y = df_projects[target_variable]

# Normalize X
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

# Split the data into train and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Replace NaNs
#X_train = np.nan_to_num(0)
#X_test = np.nan_to_num(0)

#y_train = np.nan_to_num(0)
#y_test = np.nan_to_num(0)

print(X_train.dtype)
print(X_test.dtype)
print(y_train.dtype)
print(y_test.dtype)

float64
float64
object
object

Predicting REE amounts in a project based on Location, Continent, and Deposit type
-----------------------------------------------

In [7]:
elements = ['La2O3', 'Ce2O3', 'Pr6O11', 'Nd2O3', 'Sm2O3', 'Eu2O3', 'Gd2O3', 'Tb4O7', 'Dy2O3', 'Ho2O3', 'Er2O3', 'Tm2O3', 'Yb2O3', 'Lu2O3', 'Y2O3']

for element in elements:
    df_projects[element] = df_projects[element].replace('-', np.nan)
    df_projects[element] = df_projects[element].str.replace(',', '.').astype(float)

df_projects = df_projects.dropna(subset=elements)

input_features = ['Location', 'Continent', 'Deposit type']
target_variables = elements

X = df_projects[input_features]
y = df_projects[target_variables]

scaler = StandardScaler()
X = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = tf.keras.models.Sequential([
  tf.keras.layers.Dense(64, activation='relu', input_shape=[len(input_features)]),
  tf.keras.layers.Dense(32, activation='relu'),
  tf.keras.layers.Dense(len(target_variables))  
])

model.compile(loss='mean_squared_error', optimizer='adam')

model.fit(X_train, y_train, epochs=10, validation_split=0.2)

predictions = model.predict(X_test)

rmse = np.sqrt(mean_squared_error(y_test, predictions))
print(f'Overall Test RMSE: {rmse}')

y_pred_df = pd.DataFrame(predictions, columns=target_variables)

rmse_values = {}

for element in target_variables:
    mse = mean_squared_error(y_test[element], y_pred_df[element])
    rmse_values[element] = sqrt(mse)

for element, rmse in rmse_values.items():
    print(f'RMSE for {element}: {rmse}')

Epoch 1/10
2/2 [==============================] - 1s 189ms/step - loss: 189.9697 - val_loss: 190.3270
Epoch 2/10
2/2 [==============================] - 0s 26ms/step - loss: 189.5675 - val_loss: 189.9420
Epoch 3/10
2/2 [==============================] - 0s 25ms/step - loss: 189.1608 - val_loss: 189.5683
Epoch 4/10
2/2 [==============================] - 0s 25ms/step - loss: 188.7802 - val_loss: 189.1965
Epoch 5/10
2/2 [==============================] - 0s 24ms/step - loss: 188.4040 - val_loss: 188.8361
Epoch 6/10
2/2 [==============================] - 0s 25ms/step - loss: 188.0388 - val_loss: 188.4868
Epoch 7/10
2/2 [==============================] - 0s 25ms/step - loss: 187.6879 - val_loss: 188.1341
Epoch 8/10
2/2 [==============================] - 0s 24ms/step - loss: 187.3378 - val_loss: 187.7753
Epoch 9/10
2/2 [==============================] - 0s 28ms/step - loss: 186.9759 - val_loss: 187.4099
Epoch 10/10
2/2 [==============================] - 0s 25ms/step - loss: 186.6118 - val_loss: 187.0397
1/1 [==============================] - 0s 95ms/step
Overall Test RMSE: 13.971162801542093
RMSE for La2O3: 24.34748011035836
RMSE for Ce2O3: 41.68715974839547
RMSE for Pr6O11: 4.376922544263042
RMSE for Nd2O3: 14.885880670496979
RMSE for Sm2O3: 2.1857432233696863
RMSE for Eu2O3: 0.6569728372571835
RMSE for Gd2O3: 1.9954571966040606
RMSE for Tb4O7: 0.3435716324225767
RMSE for Dy2O3: 2.774669436293423
RMSE for Ho2O3: 0.49334425101842083
RMSE for Er2O3: 1.6219806070795328
RMSE for Tm2O3: 0.3431000490795962
RMSE for Yb2O3: 1.619629131937283
RMSE for Lu2O3: 0.20189353642631178
RMSE for Y2O3: 18.27214343129778

Don't run the below models
----------------------------------------------------

In [ ]:

elements = ['La2O3', 'Ce2O3', 'Pr6O11', 'Nd2O3', 'Sm2O3', 'Eu2O3', 'Gd2O3', 'Tb4O7', 'Dy2O3', 'Ho2O3', 'Er2O3', 'Tm2O3', 'Yb2O3', 'Lu2O3', 'Y2O3']

for element in elements:
    df_projects[element] = df_projects[element].replace('-', np.nan)
    df_projects[element] = df_projects[element].str.replace(',', '.').astype(float)


df_projects = df_projects.dropna(subset=elements)

input_features = ['Location', 'Continent', 'Deposit type']
target_variables = elements

X = df_projects[input_features]
y = df_projects[target_variables]


scaler = StandardScaler()
X = scaler.fit_transform(X)


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


model = tf.keras.models.Sequential([
  tf.keras.layers.Dense(64, activation='relu', input_shape=[len(input_features)]),
  tf.keras.layers.Dense(32, activation='relu'),
  tf.keras.layers.Dense(len(target_variables))  
])


model.compile(loss='mean_squared_error', optimizer='adam')


model.fit(X_train, y_train, epochs=10, validation_split=0.2)


predictions = model.predict(X_test)


rmse = np.sqrt(mean_squared_error(y_test, predictions))
print(f'Test RMSE: {rmse}')

In [ ]:

elements = ['La2O3', 'Ce2O3', 'Pr6O11', 'Nd2O3', 'Sm2O3', 'Eu2O3', 'Gd2O3', 'Tb4O7', 'Dy2O3', 'Ho2O3', 'Er2O3', 'Tm2O3', 'Yb2O3', 'Lu2O3', 'Y2O3']

for element in elements:
    df_projects[element] = df_projects[element].replace('-', np.nan)
    df_projects[element] = df_projects[element].str.replace(',', '.').astype(float)

df_projects = df_projects.dropna(subset=elements)

input_features = ['Location', 'Continent', 'Deposit type']
target_variables = elements

X = df_projects[input_features]
y = df_projects[target_variables]

scaler = StandardScaler()
X = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = tf.keras.models.Sequential([
  tf.keras.layers.Dense(64, activation='relu', input_shape=[len(input_features)]),
  tf.keras.layers.Dense(32, activation='relu'),
  tf.keras.layers.Dense(len(target_variables))
])

model.compile(loss='mean_squared_error', optimizer='adam')

model.fit(X_train, y_train, epochs=10, validation_split=0.2)

y_pred = model.predict(X_test)


y_pred_df = pd.DataFrame(y_pred, columns=target_variables)


rmse_values = {}


for element in target_variables:
    mse = mean_squared_error(y_test[element], y_pred_df[element])
    rmse_values[element] = sqrt(mse)

for element, rmse in rmse_values.items():
    print(f'RMSE for {element}: {rmse}')